{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


	<div class="wrapper">
        <div style="background-color:coral; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome to SimpleBoun.</h1>
            <p>
                Please login to proceed.
            </p>
        </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-around" style="display:flex;" >
				{% if action_fail%}
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Login Failed</h4>
						<p>Your username or password is not correct</p>
					</div>
				{% endif %}

				<form style ="margin-left: 20px;"  class="form-group" method="POST" novalidate action="{% url 'studentLogin' %}">
					{{login_form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"   class="btn btn-success">Student Login</button>

				</form>
				<form style ="margin-left: 250px;" class="form-group" method="POST" novalidate action="{% url 'instructorLogin' %}">
					{{login_form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"  class="btn btn-success">Instructor Login</button>

				</form>
				<form style ="margin-left: 250px;" class="form-group" method="POST" novalidate action="{% url 'managerLogin' %}">
					{{login_form|crispy}}
					{% csrf_token %}
					<button type="submit" style="margin-top: 10px;"  class="btn btn-success">Database Manager Login</button>

				</form>



			</div>
		</div>
	</div>


</body>
</html>