<!DOCTYPE html>

<html lang="en">
<head>
  	<title>managerHome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form {
            margin: 0 auto;
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:coral; !important" class="jumbotron text-center bg-primary">
            <h2> {{username}}'s Homepage</h2>
    </div>
        {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>{{exception}}</p>
    </div>


        {% else %}
        <div class="alert alert-success" role="alert" >
        <h4 class="alert-heading">Successful</h4>

    </div>

    {% endif %}


    <div class="container">
        <div class="d-flex justify-content-around" style="display:flex;" >

        <div style="margin-left: 10px;">
            <h4>Student Operations:</h4>
        <form method="POST" action="{%url 'addNewStudent' %}">
             {% csrf_token %}
               <input type="text" name="username" placeholder="username"><br>
               <input type="text" name="name" placeholder="name"><br>
               <input type="text" name="surname" placeholder="surname"><br>
               <input type="text" name="password" placeholder="password"><br>
               <input type="text" name="email" placeholder="email"><br>
               <input type="text" name="student id" placeholder="student id"><br>
               <input type="text" name="department id" placeholder="department id"><br>
               <input type="text" name="completed credits" placeholder="completed credits"><br>
               <input type="text" name="gpa" placeholder="GPA"><br>
             <a href="addNewStudent">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">Add New Student</button></a>
        </form>
          <form method="POST" action="{%url 'deleteStudent' %}">
             {% csrf_token %}
               <input type="text" name="student id" placeholder="student id" style="margin-top: 10px;" ><br>

             <a href="deleteStudent">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">Delete Student</button></a>
        </form>
        </div>
        <div style="margin-left: 200px;">
            <h4>Instructor Operations:</h4>
             <form method="POST" action="{%url 'addNewInstructor' %}">
             {% csrf_token %}
               <input type="text" name="title" placeholder="title"><br>
               <input type="text" name="username" placeholder="username"><br>
               <input type="text" name="name" placeholder="name"><br>
               <input type="text" name="surname" placeholder="surname"><br>
               <input type="text" name="password" placeholder="password"><br>
               <input type="text" name="email" placeholder="email"><br>
               <input type="text" name="department id" placeholder="department id"><br>
             <a href="addNewInstructor">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">Add New Instructor</button></a>
        </form>

            <form method="POST" action="{%url 'updateTitle' %}">
             {% csrf_token %}
                <input type="text" name="instructor username" placeholder="instructor username" style="margin-top: 10px;"><br>
               <input type="text" name="new title" placeholder="new title"><br>

             <a href="updateTitle">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">Update Title</button></a>
        </form>

        </div>

       <div style="margin-left: 200px;">
           <h4>View Options:</h4>
            <form method="POST" action="{%url 'viewAllGrades' %}">
             {% csrf_token %}
                <input type="text" name="student id" placeholder="student id"><br>

             <a href="viewAllGrades">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">View All Grades Of a Student</button></a>
        </form>
             <form method="POST" action="{%url 'viewAllCourses' %}">
             {% csrf_token %}
                <input type="text" name="instructor username" placeholder="instructor username" style="margin-top: 10px;" ><br>

             <a href="viewAllCourses">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">View All Courses Of an Instructor</button></a>
        </form>
             <form method="POST" action="{%url 'viewAverageGrade' %}">
             {% csrf_token %}
                <input type="text" name="course id" placeholder="course id" style="margin-top: 10px;" ><br>

             <a href="viewAverageGrade">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">View Average Grade of a Course</button></a>
        </form>

            <form method="POST" action="{%url 'viewStudents' %}">
             {% csrf_token %}
             <a href="viewStudents">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">View Students</button></a>
        </form>
            <form method="POST" action="{%url 'viewInstructors' %}">
             {% csrf_token %}
             <a href="viewInstructors">  <button type="submit" style="margin-top: 10px;"   class="btn btn-success">View Instructors</button></a>
        </form>


       </div>






        </div>
    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>

</html>