<!DOCTYPE html>

<html lang="en">
<head>
  	<title>studentHome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form {
            margin: 0 auto;
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:coral; !important" class="jumbotron text-center bg-primary">
            <h2>{{username}}'s Homepage</h2>
    </div>
          {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>{{exception}}</p>
    </div>


        {% else %}
        <div class="alert alert-success" role="alert" >
        <h4 class="alert-heading">Successful</h4>

    </div>

    {% endif %}


    <div class="container">
        <div class="d-flex justify-content-around" style="display:flex;">


            <div>
                 <form method="POST" action="{%url 'addCourse' %}" >
             {% csrf_token %}
        <input type="text" name="course id" placeholder="course id"><br>
             <a href="addCourse"> <button type="submit" style="margin-top: 10px;"  class="btn btn-success">Add Course</button> </a>
        </form>
                </div>
            <div>
                <form method="POST" action="{%url 'searchName' %}" >
             {% csrf_token %}

        <input type="text" name="keyword" placeholder="keyword"><br>
             <button type="submit" style="margin-top: 10px;"  class="btn btn-success">Search Course</button>
        </form>
            </div>
            <div>
            <form method="POST" action="{%url 'filterCourse' %}" >
             {% csrf_token %}

                <input type="text" name="department id" placeholder="department id"style="margin-top: 1px;"><br>
                <input type="text" name="campus" placeholder="campus" style="margin-top: 1px;"><br>
                <input type="text" name="minimum credits" placeholder="minimum credits" style="margin-top: 1px;"><br>
                <input type="text" name="maximum credits" placeholder="maximum credits" style="margin-top: 1px;"><br>
             <button type="submit" style="margin-top: 10px;"  class="btn btn-success">Filter Course</button>
        </form>
            </div>

            <div>
                <a href="listAllCourses">  <button type="submit" style="margin-left: 10px;"   class="btn btn-success">List All Courses</button></a>

            </div>
             <div>
                 <a href="listCurrentlyTakingCourses"> <button type="submit" style="margin-left: 80px;"  class="btn btn-success">List Taking Courses</button></a>
             </div>








        </div>



    </div>
    <a href="{%url 'index' %}"> <p style="text-align:center;margin-top:100px">Logout</p></a>
</body>
</html>